
{% extends 'base.html' %}
{% block title %}Add Car{% endblock %}
{% block content %}
<h2>Add New Car</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.image_url.label(class="form-label") }}
        {{ form.image_url(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
