
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Car Listings</h2>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ car.image_url }}" class="card-img-top" alt="Car img">
            <div class="card-body">
                <p class="card-text">{{ car.description }}</p>
                <h5 class="card-title">${{ car.price }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
